@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap');
@font-face {
  font-family: 'hindguntur';
  src: local('hindguntur'), url(./fonts/HINDGUNTUR-REGULAR.TTF) format('truetype');
}
@font-face {
  font-family: 'higuen';
  src: local('higuen'), url(./fonts/HIGUEN-SERIF.OTF) format('opentype');
}
@font-face {
  font-family: 'archane';
  src: local('archane'), url(./fonts/ARCHANE.TTF) format('truetype');
}
@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
}

/* width */
.custom-scroll::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {  
  background: #d9d9d9;
  border-radius: 10px; 
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px; 
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #555; 
}