@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
  font-family: 'hindguntur';
  src: local('hindguntur'), url(./fonts/HINDGUNTUR-REGULAR.TTF) format('ttf');
}

html,
body {
  padding: 0;
  margin: 0;
}

/* width */
.custom-scroll::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {  
  background: #d9d9d9;
  border-radius: 10px; 
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px; 
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #555; 
}